/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body {
  margin: 25px;
  font-family: arial, sans-serif;
  font-size: 14px;
}
/* Applies to all <h1>...</h1> elements. */
h3 {
  font-weight: normal;
  margin-top: 5px;
}

/* Applies to all elements with <... class="someclass"> specified. */
.someclass { color: blue; }

/* Applies to the element with <... id="someid"> specified. */
#someid { color: green; }
